<h1>Stupid coaching</h1>

<div class="container">
  <div class="you">
    <p><%= @question %></p>
    <p><strong>-You</strong></p>
  </div>

  <div class="your-coach">
    <p><strong><%= @answer %></strong></p>
    <p><em>-Your coach</em></p>
  </div>
</div>

<%= link_to "Back", ask_path %>
